{% extends "home_page/base.html" %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">
    <h1>Airport Management System</h1>
    {% if user.is_authenticated %}
        <h2>Welcome {{ user.username }}!</h2>
    {% else %}
        <h2>Welcome to the site!</h2>
    {% endif %}
  </div>

  <div class="jumbotron">
    <h2>Search Airlines</h2>
    {% if user.is_authenticated %}
        <h3>{{ user.username }} please enter the source and destination</h3><br>
        <form action="/Routes/" method="post">
          {{ form.as_p }}
          Source :
          <input type="text" name="Source" value="" placeholder="Enter Source"><br><br>
          Destination :
          <input type="text" name="Destination" value="" placeholder="Enter Destination"><br><br>
          {% csrf_token %}
          <input type="submit" name="" value="Search Routes">
        </form>

    {% else %}
        <h3>Login and find the routes to your destination</h3>
    {% endif %}
  </div>
</div>

{% endblock %}
